.ItemList {
  .Item {
    display: flex;

    .text {
      margin-right: auto;
    }

    .status {
      .success {
        color: greenyellow;
      }

      .todo {
        color: #aaa;
      }
    }
  }
}
